@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.bg-b-glass {
  background-color: rgba(17, 17, 17, 0.336);
  backdrop-filter: blur(3px);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

@font-face {
    font-family: 'Aref-Ruqaa';
    src: url('/fonts/alfont_com_ReadexPro-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: 'Aref-Ruqaa', Georgia, 'Times New Roman', Times, serif;
    direction: rtl;
  }
  
.bg-glas {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.4);
}  

input, textarea, select, option {
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    @apply p-2 w-full rounded-md mb-4 mt-1;
}  

h1 {
    @apply text-xl ml-4 font-normal block;
}

label {
    @apply block text-xl font-normal text-gray-300  cap mb-2;
}

table.basic {
    @apply w-full border-collapse;
}

table.basic thead tr td {
    @apply bg-glas font-semibold text-gray-50 text-xl border border-gray-300 p-4;
}

table.basic tr td {
    @apply border bg-glass border-gray-300 p-1;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Hide scrollbar buttons */
.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

.btn-red {
    @apply text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-4 py-2;
}

.btn-default {
    @apply text-gray-900 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg  px-4 py-2 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-500;
}

.btn-green {
    @apply text-white bg-h-glass hover:bg-glass focus:ring-4 font-medium rounded-lg text-sm px-4 py-2;
}

/* Capitalize first letter of text */
.cap::first-letter {
    text-transform: uppercase;
}
/* تخصيص شريط التمرير */
.overflow-x-auto::-webkit-scrollbar {
    height: 10px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  @keyframes loader-animation {
    0% {
        transform: rotate(180deg) translateY(0);
    }
    50% {
        transform: rotate(180deg) translateY(-10px);
    }
    100% {
        transform: rotate(180deg) translateY(0);
    }
  }
  @keyframes loader-animation {
    0%, 100% { transform: rotate(180deg) translateY(0); }
    25% { transform: rotate(180deg) translateY(-5px); }
    50% { transform: rotate(180deg) translateY(-10px); }
    75% { transform: rotate(180deg) translateY(-5px); }
  }

